<ion-header  no-border>
    <ion-toolbar class="head" color="danger">
        <ion-icon name="arrow-back-outline" button="true" (click)="dismiss()" class="back"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
     <ion-item>
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input class="titulo" [(ngModel)]="Nombre" [formControl]="nombre"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Saga</ion-label>
        <ion-select  class="saga" placeholder="Selecciona la saga" [formControl]="saga">
            <ion-item *ngFor="let saga of sagas"><ion-select-option value="{{saga.id}}">{{saga.nombre}}</ion-select-option></ion-item>
        </ion-select>
  </ion-item>

    <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-textarea rows="6" class="sipnosis" [(ngModel)]="Descripcion" [formControl]="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
        <label for="img" class="botonimg">Añadir Imagen Personaje</label>
        <input id="img" type="file" name="imagen"  accept=".jpg, .jpeg, .png" [formControl]="imagen">
    </ion-item>

    <ion-item>
        <label for="enviar" class="crear" *ngIf="actualizar == 0">CREAR PERSONAJE</label>  
        <label for="enviar" class="crear" *ngIf="actualizar">ACTUALIZAR PERSONAJE</label> 
        <input id="enviar" type="submit" value="CREAR" (click)="registrar()">
    </ion-item>
</ion-content>
