.botonimg{
    margin-top:   25px;
    margin-bottom: 25px;
    padding: 12px;
    border-radius: 5%;
    border: 1px solid rgb(20, 83, 155);
    color: rgb(20, 83, 155);
    font-weight: 600;
}

#img{
    display: none;
}

input[type="submit"] {
    display: none;
    align-items: center;
}

.crear{
    margin-top:   25px;
    margin-bottom: 25px;
    background-color: rgb(20, 83, 155);
    color:rgb(253, 253, 253);
    padding: 10px;
}

ion-label{
    text-decoration: underline;
    text-decoration-color: rgb(20, 83, 155);
    
}

ion-item{
    color: rgb(20, 83, 155);
}

.saga{
    color: black;
}
.titulo{
    color: black;
}
.sipnosis{
    color: black;
}