.iconoBasura{
    font-size: 30px;
    color: red;
    margin-right: 5px;
}

.iconoEditar{
    font-size: 30px;
    color: yellow;
    margin-right: 5px;
}

.iconoEstrella{
    font-size: 30px;
    color: orange;
    margin-right: 5px;
}

.iconoGuardar{
    font-size: 30px;
    color: black;
    margin-right: 5px;
}