<ion-header  no-border>
    <ion-toolbar class="head">
        <ion-icon name="arrow-back-outline" button="true" (click)="dismiss()" class="back"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
        <ion-row>
            <ion-col size="12"  class="Titulo">
                <ion-text>
                    <h1>Los Vengadores</h1>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-img class="imagen" src="assets/Vengadores.jpg" height="200"></ion-img>
            </ion-col>
            
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text>
                <div class="admin">
                    <ion-icon name="create-outline" class="iconoEditar" *ngIf="admin" (click)="presentModal()"></ion-icon>
                    <ion-icon name="trash-outline" (click)="presentModal()" *ngIf="admin" class="iconoBasura"></ion-icon>
                </div> 
                <div class="normal">
                    <ion-icon name="heart-outline" class="iconoEstrella" (click)="meGusta()" *ngIf="gusta == 0"></ion-icon>
                    <ion-icon name="heart" class="iconoEstrella" (click)="meGusta()" *ngIf="gusta == 1"></ion-icon>
                    <ion-icon name="bookmark-outline" class="iconoGuardar" (click)="guardar()" *ngIf="guarda == 0"></ion-icon>
                    <ion-icon name="bookmark" class="iconoGuardar" (click)="guardar()" *ngIf="guarda == 1"></ion-icon>
                </div>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-text>
                    <h5>El agente de S.H.I.E.L.D. Nick Furia ha reunido a un grupo de superhéroes para hacer frente a cualquier amenaza que llegue a la Tierra. El equipo lo forman Iron Man, Capitán América, Ojo de Halcón, Viuda Negra, Hulk y Thor.</h5>
                    <h4>Estreno: 11-04-2012</h4>
                    <h4>Saga: Vengadores</h4>
                    <h4>Comentarios</h4>
                </ion-text>
            </ion-col>
            
        </ion-row>
        <ion-list>
            <ion-item-sliding>
                <ion-item>
                    <ion-label>
                        <h3>Nombre Usuario</h3>
                         <p>Cuerpo de un escrito, prescindiendo de las notas, los comentarios, las portadas, las ilustraciones, etc.
                             "en los márgenes hay unas glosas para facilitar la comprensión del texto"</p>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="unread(item)">Ver</ion-item-option>
                </ion-item-options>
                <ion-item-options side="start" *ngIf="admin">
                    <ion-item-option (click)="unread(item)">Bloquear</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        
    </ion-grid>
</ion-content>
