<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Personajes
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="custom" color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar color="danger" animated (ionChange)="buscar( $event )"></ion-searchbar>
</ion-header>

<ion-content>

    <ion-grid>
    <ion-row *ngFor="let personaje of personajes | filtroPersonaje: textoBuscar">
      <ion-card button="true" class="cardcontent" (click)="abrirPersonaje(personaje.nombre, personaje.descripcion, personaje.imagen, personaje.idSaga, personaje.id)">
        <ion-card-header class="nopadding">
          <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-img class="imagen" src="assets/{{personaje.imagen}}" height="300"> </ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-card-subtitle class="Titulo">{{personaje.nombre}}</ion-card-subtitle>
              <br/>
              <ion-card-subtitle class="description">{{personaje.descripcion | slice:0:60}}...</ion-card-subtitle>
           </ion-col>
            <ion-col size="12">
            </ion-col>
            <ion-col   class="third-col">
              
            </ion-col>
          </ion-row> 
        </ion-grid>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="admin">
    <ion-fab-button (click)="nuevoPersonaje()" color="danger">
      <ion-icon name="duplicate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
