<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Peliculas
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="custom"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let oferta of [1,1, 1, 1, 1]">
      <ion-card button="true" class="cardcontent" (click)="abrirPeli()">
        <ion-card-header class="nopadding">
          <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-img class="imagen" src="assets/Vengadores.jpg" height="300"> </ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-card-subtitle class="Titulo" (click)="presentModal()">Los Vengadores</ion-card-subtitle>
              <ion-card-subtitle>Saga: Vengadores</ion-card-subtitle>
              <ion-card-subtitle>Estreno:</ion-card-subtitle>
              <ion-card-subtitle>11-04-2012</ion-card-subtitle>
              
           </ion-col>
            <ion-col size="12">
              <ion-card-subtitle class="description">El agente de S.H.I.E.L.D. Nick Furia ha reunido a un grupo de superhéroes para hacer frente a cualquier amenaza que llegue a la Tierra. El equipo lo forman Iron Man, Capitán América, Ojo de Halcón, Viuda Negra, Hulk y Thor.</ion-card-subtitle>
            </ion-col>
            <ion-col   class="third-col">
              
            </ion-col>
          </ion-row> 
        </ion-grid>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
  
  
  
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="admin">
    <ion-fab-button (click)="nuevaPeli()">
      <ion-icon name="duplicate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
