<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Sagas
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="custom" color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let saga of sagas">
      <ion-item-sliding>
        <ion-item lines="none">
          <ion-card button="true" class="cardcontent">
            <ion-card-header class="nopadding">
              <ion-row>
                <ion-col size="12">
                  <ion-card-title class="Titulo">{{saga.nombre}}</ion-card-title>
                  <ion-card-title class="Fecha">{{saga.estreno}}</ion-card-title>
                </ion-col>
              </ion-row> 
              </ion-card-header>
            </ion-card>
          </ion-item>
        <ion-item-options side="start" *ngIf="admin">
          <ion-item-option (click)="deleteSaga(saga.id)" color="danger">Eliminar<ion-icon name="trash-outline"></ion-icon></ion-item-option>
        </ion-item-options>
        <ion-item-options side="end" *ngIf="admin">
          <ion-item-option (click)="actualizarSaga(saga.nombre, saga.estreno, saga.id)" color="warning">Actualizar<ion-icon name="create-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="admin">
    <ion-fab-button (click)="nuevaSaga()" class="iconoCrear" color="danger">
      <ion-icon name="duplicate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
