<ion-header  no-border>
    <ion-toolbar class="head">
        <ion-icon name="arrow-back-outline" button="true" (click)="dismiss()" class="back"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
        <ion-row>
            <ion-col size="12"  class="Titulo">
                <ion-text>
                    <h1>{{Nombre}}</h1>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-img class="imagen" src="assets/{{Imagen}}" height="200"></ion-img>
            </ion-col>
            
        </ion-row>
        <ion-row>
            <ion-col size="12">
                    <ion-text class="derecha">
                        <div class="normal">
                            <ion-icon name="heart-outline" class="iconoEstrella" (click)="meGusta()" *ngIf="gusta == 0"></ion-icon>
                            <ion-icon name="heart" class="iconoEstrella" (click)="meGusta()" *ngIf="gusta == 1"></ion-icon>
                            <ion-icon name="bookmark-outline" class="iconoGuardar" (click)="guardar()" *ngIf="guarda == 0"></ion-icon>
                            <ion-icon name="bookmark" class="iconoGuardar" (click)="guardar()" *ngIf="guarda == 1"></ion-icon>
                        </div>
                        <div class="admin">
                            <ion-icon name="create-outline" class="iconoEditar" *ngIf="admin" (click)="presentModal()"></ion-icon>
                            <ion-icon name="trash-outline" (click)="eliminarPersonaje(PersoId)" *ngIf="admin" class="iconoBasura"></ion-icon>
                        </div>
                    </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-text>
                    <h5>{{Descripcion}}</h5>
                    <h4>Saga: {{saga}}</h4>
                </ion-text>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
