<ion-header  no-border>
    <ion-toolbar class="head">
        <ion-icon name="arrow-back-outline" button="true" (click)="dismiss()" class="back"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input class="titulo"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Fecha Estreno</ion-label>
        <ion-datetime displayFormat="DD MMMM YYYY" placeholder="Selecciona la Fecha"></ion-datetime>
    </ion-item>

    <ion-item>
        <label for="enviar" class="crear">CREAR SAGA</label>  
        <input id="enviar" type="submit" value="CREAR PELICULA" (click)="registrar()">
    </ion-item>
</ion-content>
